#col1{
    border: 5px solid rgb(255, 0, 0);
    width: 100vw;
    height:41vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#col2{
    border: 5px solid rgb(0, 149, 255);
    width:50vw;
    height:41vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#col3{
    border: 5px solid rgb(43, 255, 0);
    width:50vw;
    height:41vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

